.button{
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-font-size: 36;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #706c61;
    -fx-scale-y: 1.1;
    -fx-font-size: 36;
    -fx-alignment: center;
}

.button:focused{
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-font-size: 36;
    -fx-alignment: center;
    -fx-border-color: #e1f4f3;
    -fx-border-width: 0px 0px 0px 3px;
}