.table-cell {     
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;  
    -fx-font: 13px "Segoe UI";    
    -fx-border-insets: 0;
}

.table-cell:hover {
    -fx-background-color: #fd5e53;
}
 
.table-row-cell:empty, .table-cell:empty:hover {
    -fx-background-color:  #706c61;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: #21bf73;
}

.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color:  #333333;
}

.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: #21bf73;
}

.table-view, .table-view:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
}
 
.table-view .column-header .label{
    -fx-text-fill: #ffffff;
    -fx-alignment: CENTER;
}

.table-view .column-header:hover {
    -fx-background-color: whitesmoke;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #706c61;    
    -fx-size: 45;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: 0;
}

.table-view .column-header:hover {
    -fx-background-color: #fd5e53;
}